@charset "UTF-8";
#board {
  position: relative;
  width: 1181px;
  height: 1181px;
  background: url("img/mainboard.jpg");
}
#board #order-track {
  position: absolute;
  bottom: 63px;
  left: 58px;
  width: 147px;
  height: 338px;
}
#board #order-track[data-player-number="2"], #board #order-track[data-player-number="4"] {
  background: url("img/order-board-2-4.jpg");
}
#board #order-track[data-player-number="3"] {
  background: url("img/order-board-3.jpg");
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-0 {
  top: 220px;
  width: 200px;
  left: 0;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-1 {
  top: 143px;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-2 {
  top: 78px;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-3 {
  top: 11px;
}
#board #order-track .order-track-number {
  position: absolute;
  width: 99px;
  height: 50px;
}
#board #order-track .order-track-number#order-track-0 {
  top: 300px;
  width: 300px;
  left: 151px;
}
#board #order-track .order-track-number#order-track-1 {
  top: 221px;
}
#board #order-track .order-track-number#order-track-2 {
  top: 143px;
}
#board #order-track .order-track-number#order-track-3 {
  top: 78px;
}
#board #order-track .order-track-number#order-track-4 {
  top: 11px;
}
#board #order-track .token {
  position: relative;
  display: inline-block;
  width: 99px;
  height: 50px;
  background: url("img/order-track-tokens.png");
  background-size: 100% auto;
  margin-right: -40px;
}
#board #order-track .token[data-color=fcaf26] {
  background-position-y: 0%;
}
#board #order-track .token[data-color=ab3b2a] {
  background-position-y: 33.3333333333%;
}
#board #order-track .token[data-color="5f8637"] {
  background-position-y: 66.6666666667%;
}
#board #order-track .token[data-color="456e96"] {
  background-position-y: 100%;
}
#board .point-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  box-shadow: 1px 1px 1px 1px black;
  border-radius: 50%;
  transition: transform 0.5s;
  pointer-events: none;
}
#board .point-marker.color-blind::after {
  font-size: 120%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -4px;
}
#board .point-marker.color-blind[data-player-no="1"]::after {
  content: "●";
}
#board .point-marker.color-blind[data-player-no="2"]::after {
  content: "▲";
}
#board .point-marker.color-blind[data-player-no="3"]::after {
  content: "■";
}
#board .point-marker.color-blind[data-player-no="4"]::after {
  content: "◆";
}
#board .territory {
  position: absolute;
  width: 341.204px;
  height: 394px;
  pointer-events: none;
}
#board .territory[data-position="0"] {
  left: 421.204px;
  top: 391.5px;
}
#board .territory[data-position="1"] {
  left: 250.602px;
  top: 96px;
}
#board .territory[data-position="2"] {
  left: 591.806px;
  top: 96px;
}
#board .territory[data-position="3"] {
  left: 762.408px;
  top: 391.5px;
}
#board .territory[data-position="4"] {
  left: 591.806px;
  top: 687px;
}
#board .territory[data-position="5"] {
  left: 250.602px;
  top: 687px;
}
#board .territory[data-position="6"] {
  left: 80px;
  top: 391.5px;
}
#board .territory .area {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 115px;
  top: 148px;
  border-radius: 50%;
  border: 3px dashed transparent;
  background: url("img/land-tokens.png");
  background-size: auto 100%;
  pointer-events: all;
}
#board .territory .area[data-rotation="1"] {
  transform: rotate(-120deg) translateX(106px) rotate(120deg);
}
#board .territory .area[data-rotation="2"] {
  transform: rotate(-60deg) translateX(106px) rotate(60deg);
}
#board .territory .area[data-rotation="3"] {
  transform: rotate(0deg) translateX(106px) rotate(0deg);
}
#board .territory .area[data-rotation="4"] {
  transform: rotate(60deg) translateX(106px) rotate(-60deg);
}
#board .territory .area[data-rotation="5"] {
  transform: rotate(120deg) translateX(106px) rotate(-120deg);
}
#board .territory .area[data-rotation="6"] {
  transform: rotate(180deg) translateX(106px) rotate(-180deg);
}
#board .territory .area[data-type="1"] {
  background-position: 33.3333333333%;
}
#board .territory .area[data-type="2"] {
  background-position: 66.6666666667%;
}
#board .territory .area[data-type="3"] {
  background-position: 100%;
}
#board .territory .area.selectable {
  cursor: pointer;
  border-color: red;
}
#board .territory .area.selectable .bramble-type-token {
  box-shadow: none;
}
#board .territory .area.selectable .cost-tag {
  position: absolute;
  bottom: 4px;
  right: -10px;
  background: white;
  color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  z-index: 15;
}
#board .territory .area.selectable .cost-tag span {
  padding: 2px;
}
#board .territory .area.selectable .cost-tag .icon {
  width: 16px;
  height: 16px;
  margin-left: -2px;
}
#board .territory .area.selected {
  border-color: blue;
}
#board .territory .area.selected .bramble-type-token {
  box-shadow: none;
}
#board .territory .area[data-type="0"] .land-number {
  display: none;
}
#board .territory .torticrane-spot {
  position: absolute;
  bottom: 87px;
  right: 8px;
  z-index: 20;
}
#board .territory .territory-number {
  position: absolute;
  text-align: center;
  color: black;
  text-shadow: 0 0 1px #c9c9c9, 0 0 2px #c9c9c9, 0 0 3px #c9c9c9;
  width: 28px;
  font-family: "rustico-regular";
  font-size: 19px;
  font-weight: 100;
}
#board .territory .territory-number.top {
  left: 143px;
  top: 16px;
}
#board .territory .territory-number.left {
  left: 23px;
  bottom: 82px;
}
#board .territory .territory-number.right {
  right: 10px;
  bottom: 108px;
}
#board #torticrane-spot--1 {
  position: absolute;
  bottom: 68px;
  right: 233px;
  z-index: 20;
}
#board #torticrane {
  width: 71px;
  height: 76px;
  background: url("img/torticrane.png");
  z-index: 20;
}
#board .building {
  position: absolute;
  bottom: 28px;
  left: 15px;
  display: flex;
  flex-direction: column-reverse;
}
#board .building .building-floor:not(:first-child) {
  margin-bottom: -12px;
}
#board .building.highlight {
  animation: highlight-building-animation 1s;
}
#board #remaining-bramble-tokens {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 50px;
  width: 130px;
  border-radius: 15px 15px 50px 50px;
}
#board #remaining-bramble-tokens .title {
  font-size: 90%;
  text-shadow: 0 0 2px white;
}
#board #remaining-bramble-tokens .container {
  margin-top: 10px;
}
#board #remaining-bramble-tokens .container .bramble-type-token {
  box-shadow: 1px 1px 3px 2px black;
}
#board #remaining-bramble-tokens .container .bramble-type-token:not(:first-child) {
  margin-left: -90px;
  margin-top: -90px;
}

#common-projects {
  position: relative;
  width: 1181px;
  height: 283px;
  background: url("img/secondboard.jpg");
}

@keyframes highlight-building-animation {
  0% {
    transform: unset;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: unset;
  }
}
#playerstables .whiteblock {
  padding: 0;
}
#playerstables .player-table {
  position: relative;
  font-family: "garden-nation-title";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}
#playerstables .player-table .title {
  text-align: center;
  font-size: 120%;
}
#playerstables .player-table .player-name {
  position: absolute;
  font-size: 130%;
  padding: 5px;
  width: 265px;
}
#playerstables .player-table .player-score-board {
  width: 626px;
  height: 302px;
  margin: 5px;
}
#playerstables .player-table .player-score-board[data-color=fcaf26] {
  background: url("img/player-board-fcaf26.png");
}
#playerstables .player-table .player-score-board[data-color=ab3b2a] {
  background: url("img/player-board-ab3b2a.png");
}
#playerstables .player-table .player-score-board[data-color="5f8637"] {
  background: url("img/player-board-5f8637.png");
}
#playerstables .player-table .player-score-board[data-color="456e96"] {
  background: url("img/player-board-456e96.png");
}
#playerstables .player-table .player-score-board .ploy-tokens-container {
  position: absolute;
  top: 111px;
}
#playerstables .player-table .player-score-board .ploy-tokens-container[data-type="0"] {
  left: 5px;
  top: 50px;
}
#playerstables .player-table .player-score-board .ploy-tokens-container[data-type="1"] {
  left: 68px;
}
#playerstables .player-table .player-score-board .ploy-tokens-container[data-type="2"] {
  left: 123px;
}
#playerstables .player-table .player-score-board .ploy-tokens-container[data-type="3"] {
  left: 14px;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: url("img/ploy-tokens.png");
  box-shadow: 1px 1px 3px 2px black;
  border-radius: 50%;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token[data-color=fcaf26] {
  background-position-x: 0%;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token[data-color="456e96"] {
  background-position-x: 100%;
}
#playerstables .player-table .player-score-board .ploy-tokens-container .ploy-token:not(:first-child) {
  margin-left: -40px;
}
#playerstables .player-table .player-score-board .meeple-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 34px;
  background: url("img/meeples.png");
  transition: transform 0.5s;
  pointer-events: none;
}
#playerstables .player-table .player-score-board .meeple-marker[data-color=fcaf26] {
  background-position-x: 0%;
}
#playerstables .player-table .player-score-board .meeple-marker[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
#playerstables .player-table .player-score-board .meeple-marker[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
#playerstables .player-table .player-score-board .meeple-marker[data-color="456e96"] {
  background-position-x: 100%;
}
#playerstables .player-table .player-score-board .meeple-marker.color-blind::after {
  font-size: 120%;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: -4px;
}
#playerstables .player-table .player-score-board .meeple-marker.color-blind[data-player-no="1"]::after {
  content: "●";
}
#playerstables .player-table .player-score-board .meeple-marker.color-blind[data-player-no="2"]::after {
  content: "▲";
}
#playerstables .player-table .player-score-board .meeple-marker.color-blind[data-player-no="3"]::after {
  content: "■";
}
#playerstables .player-table .player-score-board .meeple-marker.color-blind[data-player-no="4"]::after {
  content: "◆";
}
#playerstables .player-table .player-secret-missions-wrapper {
  display: inline-block;
}

.card {
  display: inline-block;
  position: relative;
  width: 149px;
  height: 208px;
  margin: 5px;
  border-radius: 10px;
  font-family: "garden-nation-title";
  color: #ffeab9;
  text-align: center;
}
.card[data-side="1"] .card-sides {
  transform: rotateY(180deg);
}
.card .card-sides {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.card .card-sides .card-side {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  transform-origin: center center;
}
.card .card-sides .card-side.front > * {
  pointer-events: none;
  user-select: none;
}
.card .card-sides .card-side.back {
  transform: rotateY(180deg);
}
.card.selectable {
  cursor: pointer;
  box-shadow: 0 0 8px 8px white;
}
.card.selectable .card-side {
  box-shadow: unset;
}
.card.common-project .card-side {
  background-image: url("img/common-projects.jpg");
  background-size: auto 100%;
}
.card.common-project .card-side .name {
  position: absolute;
  width: 100%;
  top: 138px;
  font-size: 80%;
}
.card.common-project[data-type="1"][data-sub-type="1"] .front {
  background-position-x: 4.7619047619%;
}
.card.common-project[data-type="1"][data-sub-type="2"] .front {
  background-position-x: 9.5238095238%;
}
.card.common-project[data-type="1"][data-sub-type="3"] .front {
  background-position-x: 14.2857142857%;
}
.card.common-project[data-type="1"][data-sub-type="4"] .front {
  background-position-x: 19.0476190476%;
}
.card.common-project[data-type="1"][data-sub-type="5"] .front {
  background-position-x: 23.8095238095%;
}
.card.common-project[data-type="1"][data-sub-type="6"] .front {
  background-position-x: 28.5714285714%;
}
.card.common-project[data-type="2"][data-sub-type="1"] .front {
  background-position-x: 33.3333333333%;
}
.card.common-project[data-type="2"][data-sub-type="2"] .front {
  background-position-x: 38.0952380952%;
}
.card.common-project[data-type="2"][data-sub-type="3"] .front {
  background-position-x: 42.8571428571%;
}
.card.common-project[data-type="3"][data-sub-type="1"] .front {
  background-position-x: 47.619047619%;
}
.card.common-project[data-type="3"][data-sub-type="2"] .front {
  background-position-x: 52.380952381%;
}
.card.common-project[data-type="3"][data-sub-type="3"] .front {
  background-position-x: 57.1428571429%;
}
.card.common-project[data-type="4"][data-sub-type="1"] .front {
  background-position-x: 61.9047619048%;
}
.card.common-project[data-type="4"][data-sub-type="2"] .front {
  background-position-x: 66.6666666667%;
}
.card.common-project[data-type="4"][data-sub-type="3"] .front {
  background-position-x: 71.4285714286%;
}
.card.common-project[data-type="5"][data-sub-type="1"] .front {
  background-position-x: 76.1904761905%;
}
.card.common-project[data-type="5"][data-sub-type="2"] .front {
  background-position-x: 80.9523809524%;
}
.card.common-project[data-type="5"][data-sub-type="3"] .front {
  background-position-x: 85.7142857143%;
}
.card.common-project[data-type="6"][data-sub-type="1"] .front {
  background-position-x: 90.4761904762%;
}
.card.common-project[data-type="6"][data-sub-type="2"] .front {
  background-position-x: 95.2380952381%;
}
.card.common-project[data-type="6"][data-sub-type="3"] .front {
  background-position-x: 100%;
}
.card.secret-mission .card-side {
  background-image: url("img/secret-missions.jpg");
  background-size: auto 100%;
}
.card.secret-mission .card-side .name {
  position: absolute;
  width: 100%;
  top: 138px;
  font-size: 80%;
}
.card.secret-mission[data-type="1"][data-sub-type="1"] .front {
  background-position-x: 6.6666666667%;
}
.card.secret-mission[data-type="1"][data-sub-type="2"] .front {
  background-position-x: 13.3333333333%;
}
.card.secret-mission[data-type="1"][data-sub-type="3"] .front {
  background-position-x: 20%;
}
.card.secret-mission[data-type="2"][data-sub-type="1"] .front {
  background-position-x: 26.6666666667%;
}
.card.secret-mission[data-type="2"][data-sub-type="2"] .front {
  background-position-x: 33.3333333333%;
}
.card.secret-mission[data-type="2"][data-sub-type="3"] .front {
  background-position-x: 40%;
}
.card.secret-mission[data-type="3"][data-sub-type="1"] .front {
  background-position-x: 46.6666666667%;
}
.card.secret-mission[data-type="3"][data-sub-type="2"] .front {
  background-position-x: 53.3333333333%;
}
.card.secret-mission[data-type="4"][data-sub-type="1"] .front {
  background-position-x: 60%;
}
.card.secret-mission[data-type="4"][data-sub-type="2"] .front {
  background-position-x: 66.6666666667%;
}
.card.secret-mission[data-type="4"][data-sub-type="3"] .front {
  background-position-x: 73.3333333333%;
}
.card.secret-mission[data-type="4"][data-sub-type="4"] .front {
  background-position-x: 80%;
}
.card.secret-mission[data-type="4"][data-sub-type="5"] .front {
  background-position-x: 86.6666666667%;
}
.card.secret-mission[data-type="4"][data-sub-type="6"] .front {
  background-position-x: 93.3333333333%;
}
.card.secret-mission[data-type="4"][data-sub-type="7"] .front {
  background-position-x: 100%;
}

.player-board {
  background-color: #fed698;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}

.roundedbox_topleft, .roundedbox_topmain, .roundedbox_topright, .roundedbox_main, .roundedbox_bottomleft, .roundedbox_bottommain, .roundedbox_bottomright {
  background-color: #fed698;
}

html {
  background: #828a25;
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: #828a25;
  background-repeat: repeat;
}

@font-face {
  font-family: "garden-nation-title";
  src: url("img/skrawk-serif-webfont.woff2") format("woff2"), url("img/skrawk-serif-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rustico-regular";
  src: url("img/rustico-regular-webfont.woff2") format("woff2"), url("img/rustico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#last-round {
  margin: 5px -5px -5px;
  text-align: center;
  background-color: #9e1a27;
  color: #fed698;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.whiteblock {
  background: rgba(255, 255, 255, 0.6666666667);
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/panelboard-icons.png");
  background-size: auto 300%;
}
.icon[data-color=fcaf26] {
  background-position-x: 0%;
}
.icon[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
.icon[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
.icon[data-color="456e96"] {
  background-position-x: 100%;
}
.icon.inhabitant {
  background-position-y: 0%;
}
.icon.building-floor-counter {
  background-position-y: 50%;
}
.icon.ploy-token {
  background-position-y: 100%;
}

.button-bramble-type, .bramble-type-token {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("img/land-tokens.png");
  background-size: auto 100%;
  border-radius: 50%;
  box-shadow: 1px 1px 3px 2px black;
}
.button-bramble-type[data-type="1"], .bramble-type-token[data-type="1"] {
  background-position: 33.3333333333%;
}
.button-bramble-type[data-type="2"], .bramble-type-token[data-type="2"] {
  background-position: 66.6666666667%;
}
.button-bramble-type[data-type="3"], .bramble-type-token[data-type="3"] {
  background-position: 100%;
}

.land-number {
  position: absolute;
  text-align: center;
  color: white;
  left: 41px;
  bottom: 3px;
  width: 18px;
  font-family: "rustico-regular";
  font-size: 15px;
  font-weight: 100;
  user-select: none;
  pointer-events: none;
}

.common-project-wrapper {
  top: 32px;
  position: absolute;
}
.common-project-wrapper[data-number="0"] {
  left: 24px;
  box-shadow: 3px 3px 0px 0px #333, 4px 4px 5px 5px black;
}
.common-project-wrapper[data-number="1"] {
  left: 222px;
}
.common-project-wrapper[data-number="2"] {
  left: 406px;
}
.common-project-wrapper[data-number="3"] {
  left: 590px;
}
.common-project-wrapper[data-number="4"] {
  left: 774px;
}

.building-floor {
  display: inline-block;
  width: 72px;
  height: 44px;
  background: url("img/building-floor.png");
}
.building-floor[data-color=fcaf26] {
  background-position-x: 0%;
}
.building-floor[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
.building-floor[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
.building-floor[data-color="456e96"] {
  background-position-x: 100%;
}
.building-floor[data-color="0"] {
  width: 75px;
  height: 63px;
  background: url("img/roof.png");
  margin-left: -9px;
}

#remaining-roofs {
  position: absolute;
  position: absolute;
  left: 976px;
  top: 5px;
  width: 200px;
}
#remaining-roofs .building-floor {
  margin-left: -35px;
}
