#board {
  position: relative;
  width: 1181px;
  height: 1181px;
  background: url("img/mainboard.jpg");
}
#board #order-track {
  position: absolute;
  bottom: 63px;
  left: 58px;
  width: 147px;
  height: 338px;
}
#board #order-track[data-player-number="2"], #board #order-track[data-player-number="4"] {
  background: url("img/order-board-2-4.jpg");
}
#board #order-track[data-player-number="3"] {
  background: url("img/order-board-3.jpg");
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-0 {
  top: 220px;
  width: 200px;
  left: 0;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-1 {
  top: 143px;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-2 {
  top: 78px;
}
#board #order-track[data-player-number="3"] .order-track-number#order-track-3 {
  top: 11px;
}
#board #order-track .order-track-number {
  position: absolute;
  width: 99px;
  height: 50px;
}
#board #order-track .order-track-number#order-track-0 {
  top: 300px;
  width: 300px;
  left: 151px;
}
#board #order-track .order-track-number#order-track-1 {
  top: 221px;
}
#board #order-track .order-track-number#order-track-2 {
  top: 143px;
}
#board #order-track .order-track-number#order-track-3 {
  top: 78px;
}
#board #order-track .order-track-number#order-track-4 {
  top: 11px;
}
#board #order-track .token {
  position: relative;
  display: inline-block;
  width: 99px;
  height: 50px;
  background: url("img/order-track-tokens.png");
  background-size: 100% auto;
  margin-right: -40px;
}
#board #order-track .token[data-color=fcaf26] {
  background-position-y: 0%;
}
#board #order-track .token[data-color=ab3b2a] {
  background-position-y: 33.3333333333%;
}
#board #order-track .token[data-color="5f8637"] {
  background-position-y: 66.6666666667%;
}
#board #order-track .token[data-color="456e96"] {
  background-position-y: 100%;
}
#board .territory {
  position: absolute;
  width: 341.204px;
  height: 394px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
#board .territory[data-position="0"] {
  left: 421.204px;
  top: 391.5px;
}
#board .territory[data-position="1"] {
  left: 250.602px;
  top: 96px;
}
#board .territory[data-position="2"] {
  left: 591.806px;
  top: 96px;
}
#board .territory[data-position="3"] {
  left: 762.408px;
  top: 391.5px;
}
#board .territory[data-position="4"] {
  left: 591.806px;
  top: 687px;
}
#board .territory[data-position="5"] {
  left: 250.602px;
  top: 687px;
}
#board .territory[data-position="6"] {
  left: 80px;
  top: 391.5px;
}
#board .territory .area {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 115px;
  top: 148px;
  border-radius: 50%;
  border: 3px dashed transparent;
  background: url("img/land-tokens.png");
  background-size: auto 100%;
}
#board .territory .area[data-rotation="1"] {
  transform: rotate(-120deg) translateX(106px) rotate(120deg);
}
#board .territory .area[data-rotation="2"] {
  transform: rotate(-60deg) translateX(106px) rotate(60deg);
}
#board .territory .area[data-rotation="3"] {
  transform: rotate(0deg) translateX(106px) rotate(0deg);
}
#board .territory .area[data-rotation="4"] {
  transform: rotate(60deg) translateX(106px) rotate(-60deg);
}
#board .territory .area[data-rotation="5"] {
  transform: rotate(120deg) translateX(106px) rotate(-120deg);
}
#board .territory .area[data-rotation="6"] {
  transform: rotate(180deg) translateX(106px) rotate(-180deg);
}
#board .territory .area[data-type="1"] {
  background-position: 33.3333333333%;
}
#board .territory .area[data-type="1"][data-bramble=true] {
  box-shadow: 1px 1px 3px 2px black;
  border-radius: 50%;
  z-index: 1;
}
#board .territory .area[data-type="2"] {
  background-position: 66.6666666667%;
}
#board .territory .area[data-type="2"][data-bramble=true] {
  box-shadow: 1px 1px 3px 2px black;
  border-radius: 50%;
  z-index: 1;
}
#board .territory .area[data-type="3"] {
  background-position: 100%;
}
#board .territory .area[data-type="3"][data-bramble=true] {
  box-shadow: 1px 1px 3px 2px black;
  border-radius: 50%;
  z-index: 1;
}
#board .territory .area.selectable {
  cursor: pointer;
  border-color: red;
}
#board .territory .area[data-type="0"] .land-number {
  display: none;
}
#board .territory .torticrane-spot {
  position: absolute;
  bottom: 87px;
  right: 8px;
}
#board .territory .territory-number {
  position: absolute;
  text-align: center;
  color: black;
  text-shadow: 0 0 1px #c9c9c9, 0 0 2px #c9c9c9, 0 0 3px #c9c9c9;
  width: 28px;
  font-family: "rustico-regular";
  font-size: 19px;
  font-weight: 100;
}
#board .territory .territory-number.top {
  left: 143px;
  top: 16px;
}
#board .territory .territory-number.left {
  left: 23px;
  bottom: 82px;
}
#board .territory .territory-number.right {
  right: 10px;
  bottom: 108px;
}
#board #torticrane-spot--1 {
  position: absolute;
  bottom: 68px;
  right: 233px;
  z-index: 20;
}
#board #torticrane {
  width: 71px;
  height: 76px;
  background: url("img/torticrane.png");
  z-index: 20;
}
#board .building {
  position: absolute;
  bottom: 26px;
  left: 10px;
  display: flex;
  flex-direction: column-reverse;
}
#board .building .building-floor {
  width: 72px;
  height: 44px;
  background: url("img/building-floor.png");
}
#board .building .building-floor[data-color=fcaf26] {
  background-position-x: 0%;
}
#board .building .building-floor[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
#board .building .building-floor[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
#board .building .building-floor[data-color="456e96"] {
  background-position-x: 100%;
}
#board .building .building-floor[data-color="0"] {
  width: 75px;
  height: 63px;
  background: url("img/roof.png");
  margin-left: -9px;
}
#board .building .building-floor:not(:first-child) {
  margin-bottom: -12px;
}
#board .building.highlight {
  animation: highlight-building-animation 1s;
}
#board #remaining-bramble-tokens {
  position: absolute;
  text-align: center;
  right: 10px;
  top: 50px;
  width: 130px;
  border-radius: 15px 15px 50px 50px;
}
#board #remaining-bramble-tokens .title {
  font-size: 90%;
  text-shadow: 0 0 2px white;
}
#board #remaining-bramble-tokens .container {
  margin-top: 10px;
}
#board #remaining-bramble-tokens .container .bramble-type-token {
  box-shadow: 1px 1px 3px 2px black;
}
#board #remaining-bramble-tokens .container .bramble-type-token:not(:first-child) {
  margin-left: -90px;
  margin-top: -90px;
}

#common-projects {
  position: relative;
  width: 1181px;
  height: 283px;
  background: url("img/secondboard.jpg");
}

@keyframes highlight-building-animation {
  0% {
    transform: unset;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: unset;
  }
}
#playerstables .whiteblock {
  padding: 0;
}
#playerstables .player-table {
  position: relative;
}
#playerstables .player-table .player-name {
  position: absolute;
  font-family: "garden-nation-title";
  font-size: 130%;
  padding: 5px;
  width: 265px;
}
#playerstables .player-table .player-score-board {
  width: 626px;
  height: 302px;
}
#playerstables .player-table .player-score-board[data-color=fcaf26] {
  background: url("img/player-board-fcaf26.png");
}
#playerstables .player-table .player-score-board[data-color=ab3b2a] {
  background: url("img/player-board-ab3b2a.png");
}
#playerstables .player-table .player-score-board[data-color="5f8637"] {
  background: url("img/player-board-5f8637.png");
}
#playerstables .player-table .player-score-board[data-color="456e96"] {
  background: url("img/player-board-456e96.png");
}

.player-board {
  background-color: #fed698;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
  background-image: url("img/panelboard-icons.png");
  background-size: auto 300%;
}
.player-board .counters .icon[data-color=fcaf26] {
  background-position-x: 0%;
}
.player-board .counters .icon[data-color=ab3b2a] {
  background-position-x: 33.3333333333%;
}
.player-board .counters .icon[data-color="5f8637"] {
  background-position-x: 66.6666666667%;
}
.player-board .counters .icon[data-color="456e96"] {
  background-position-x: 100%;
}
.player-board .counters .icon.inhabitant {
  background-position-y: 0%;
}
.player-board .counters .icon.building-floor {
  background-position-y: 50%;
}
.player-board .counters .icon.ploy-token {
  background-position-y: 100%;
}

.roundedbox_topleft, .roundedbox_topmain, .roundedbox_topright, .roundedbox_main, .roundedbox_bottomleft, .roundedbox_bottommain, .roundedbox_bottomright {
  background-color: #fed698;
}

html {
  background: #828a25;
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: #828a25;
  background-repeat: repeat;
}

@font-face {
  font-family: "garden-nation-title";
  src: url("img/skrawk-serif-webfont.woff2") format("woff2"), url("img/skrawk-serif-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "rustico-regular";
  src: url("img/rustico-regular-webfont.woff2") format("woff2"), url("img/rustico-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
.whiteblock {
  background: rgba(255, 255, 255, 0.6666666667);
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url("img/icons.png");
  background-size: auto 100%;
}

.button-bramble-type, .bramble-type-token {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url("img/land-tokens.png");
  background-size: auto 100%;
  border-radius: 50%;
}
.button-bramble-type[data-type="1"], .bramble-type-token[data-type="1"] {
  background-position: 33.3333333333%;
}
.button-bramble-type[data-type="2"], .bramble-type-token[data-type="2"] {
  background-position: 66.6666666667%;
}
.button-bramble-type[data-type="3"], .bramble-type-token[data-type="3"] {
  background-position: 100%;
}

.land-number {
  position: absolute;
  text-align: center;
  color: white;
  left: 41px;
  bottom: 3px;
  width: 18px;
  font-family: "rustico-regular";
  font-size: 15px;
  font-weight: 100;
}
