#currentplayertable .whiteblock, #playerstables .whiteblock {
  padding: 0;
}
.player-board {
  background-color: white;
}
.player-board .counters {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.player-board .counters .reroll-counter, .player-board .counters .footprint-counter, .player-board .counters .firefly-counter {
  flex: 1;
  display: flex;
  align-items: center;
}
.player-board .counters .icon {
  margin-right: 5px;
}
.player-board .counters .icon[data-activated=false] {
  filter: grayscale(1);
}
.player-board .token {
  margin: 5px;
}
.player-board #firstPlayerToken {
  background: url("img/first-player.png");
  border-radius: 50%;
  width: 48px;
  height: 48px;
}
.player-board .roundedbox_topleft, .player-board .roundedbox_topmain, .player-board .roundedbox_topright, .player-board .roundedbox_main, .player-board .roundedbox_bottomleft, .player-board .roundedbox_bottommain, .player-board .roundedbox_bottomright {
  background-color: white;
}

#avatar_active_0 {
  background: url("img/gear.png");
}

html {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

.mode_3d #game_play_area_background {
  background: url("img/background.jpg");
  background-repeat: repeat;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}
