$sqrt3: 1.732;

$big-hex-size: 197px;
$big-hex-width: $big-hex-size * $sqrt3;
$big-hex-height: $big-hex-size * 2;
$big-hex-x-offset: 80px;
$big-hex-y-offset: 96px;

$area-size: 100px;
$area-spacing: 106px;

#board {
    position: relative;
    width: 1181px;
    height: 1181px;
    background: url('img/mainboard.jpg');
    overflow: hidden;

    #order-track {
        position: absolute;
        bottom: 63px;
        left: 58px;
        width: 147px;
        height: 338px;

        &[data-player-number="2"], &[data-player-number="4"] {
            background: url('img/order-board-2-4.jpg');
        }

        &[data-player-number="3"] {
            background: url('img/order-board-3.jpg');
        
            .order-track-number {
                &#order-track-0 {
                    top: 220px;
                    width: 200px;
                    left: 0;
                }
                &#order-track-1 {
                    top: 143px;
                }
                &#order-track-2 {
                    top: 78px;
                }
                &#order-track-3 {
                    top: 11px;
                }
            }
        } 
        
        .order-track-number {
            position: absolute;
            width: 99px;
            height: 50px;

            &#order-track-0 {
                top: 300px;
                width: 300px;
                left: 151px;
            }
            &#order-track-1 {
                top: 221px;
            }
            &#order-track-2 {
                top: 143px;
            }
            &#order-track-3 {
                top: 78px;
            }
            &#order-track-4 {
                top: 11px;
            }
        }
        
        .token {
            position: relative;
            display: inline-block;
            width: 99px;
            height: 50px;
            background: url('img/order-track-tokens.png');
            background-size: 100% auto;
            margin-right: -40px;

            @each $playerColor in $playerColors {
              $i: index($playerColors, $playerColor) - 1;
              &[data-color="#{$playerColor}"] { 
                  background-position-y: #{$i * 100% / 3};
              }
            }
        }
    }

    .point-marker {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      box-shadow: 1px 1px 1px 1px black;
      border-radius: 50%; 
      transition: transform 0.5s; 
      pointer-events: none;
      
      &.color-blind {
        &::after {
          font-size: 120%;
          display: flex;
          align-content: center;
          justify-content: center;
          margin-top: -4px;
        }
  
        &[data-player-no="1"]::after {
          content: '●'; // circle
        }
  
        &[data-player-no="2"]::after {
          content: '▲'; // triangle
        }
  
        &[data-player-no="3"]::after {
          content: '■'; // square
        }
  
        &[data-player-no="4"]::after {
          content: '◆'; // diamond
        }
      }
    }

    .territory {
        position: absolute;
        width: $big-hex-width;
        height: $big-hex-height;
        //clip-path: polygon(40% 0%, 100% 25%, 100% 75%, 60% 100%, 0% 75%, 0% 25%);
        //clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        pointer-events: none;

        &[data-position="0"] {
            left: $big-hex-x-offset + $big-hex-width;
            top: $big-hex-y-offset + $big-hex-height * 3 / 4;
        }
        &[data-position="1"] {
            left: $big-hex-x-offset + $big-hex-width / 2;
            top: $big-hex-y-offset;
        }
        &[data-position="2"] {
            left: $big-hex-x-offset + $big-hex-width * 3 / 2;
            top: $big-hex-y-offset;
        }
        &[data-position="3"] {
            left: $big-hex-x-offset + $big-hex-width * 2;
            top: $big-hex-y-offset + $big-hex-height * 3 / 4;
        }
        &[data-position="4"] {
            left: $big-hex-x-offset + $big-hex-width * 3 / 2;
            top: $big-hex-y-offset + $big-hex-height * 3 / 2;
        }
        &[data-position="5"] {
            left: $big-hex-x-offset + $big-hex-width / 2;
            top: $big-hex-y-offset + $big-hex-height * 3 / 2;
        }
        &[data-position="6"] {
            left: $big-hex-x-offset;
            top: $big-hex-y-offset + $big-hex-height * 3 / 4;
        }

        .shadow {
            position: absolute;
            width: 428px;
            height: 454px;
            background: url('img/territory-shadow.png');
            opacity: 0;
            left: -42px;
            top: -30px;
            z-index: 1;
        }

        .area {
            position: absolute;
            width: $area-size + 6px;
            height: $area-size + 6px;
            left: 117px;
            top: 150px;
            //left: $big-hex-width / 2 - $area-size / 2;
            //top: $big-hex-height / 2 - $area-size / 2;
            border-radius: 50%;
            border: 3px dashed transparent;
            background: url('img/land-tokens.png') no-repeat;
            background-size: auto 100%;
            pointer-events: all;
            box-sizing: border-box;
            background-clip: padding-box;

            @for $i from 1 through 6 {
                &[data-rotation="#{$i}"] { 
                    transform: rotate(#{($i - 3) * 60}deg) translateX($area-spacing) rotate(#{-($i - 3) * 60}deg);
                }
            }
            
            @for $i from 1 through 3 {
                &[data-type="#{$i}"] {
                    background-position-x: #{$i * 100% / 3};
                }
            }

            &.selectable {
                cursor: pointer;
                border-color: red;

                .bramble-type-token {
                    box-shadow: none;
                }

                .cost-tag {
                    position: absolute;
                    bottom: 4px;
                    right: -10px;
                    background: white;
                    color: black;
                    border: 1px solid black;
                    display: flex;
                    align-items: center;
                    z-index: 29;

                    span {
                        padding: 2px;
                    }

                    .icon {
                        width: 16px;
                        height: 16px;
                        margin-left: -2px;
                    }
                }
            }
            &.selected {
                border-color: blue;
                border-style: solid;

                .bramble-type-token {
                    box-shadow: none;
                }
            }

            &[data-type="0"] {
                .land-number {
                    display: none;
                }
            }
        }

        .torticrane-spot {
            position: absolute;
            bottom: -10px;
            right: 125px;
            z-index: 30;
        }

        .territory-number {
          position: absolute;
          text-align: center;
          color: black;
          text-shadow: 0 0 1px #c9c9c9, 0 0 2px #c9c9c9, 0 0 3px #c9c9c9;
          width: 28px;
          font-family: 'rustico-regular';
          font-size: 19px;
          font-weight: 100;

          &.top {
            left: 143px;
            top: 16px;
          }
          &.left {
            left: 23px;
            bottom: 82px;
          }
          &.right {
            right: 10px;
            bottom: 108px;
          }
        }
    }

    @for $i from 0 through 6 {
        &[data-shadow-on-torticrane-territory="true"][data-torticrane-position="#{$i}"] {
            .territory[data-position="#{$i}"] {
                .shadow {
                    opacity: 0.8;
                }
            }
        }
        &[data-score-territory="#{$i}"] {
            .territory[data-position="#{$i}"] {
                .shadow {
                    animation: highlight-territory-shadow-animation 1s;
                }
            }
        }
    }
        
    #torticrane-spot--1 {
        position: absolute;
        bottom: 68px;
        right: 233px;
        z-index: 30;
    }

    #torticrane {
        width: 71px;
        height: 76px;
        background: url('img/torticrane.png');
        z-index: 30;
    }

    .building {
        position: absolute;
        bottom: 28px;
        left: 15px;
        display: flex;
        flex-direction: column-reverse;

        .building-floor {
          
            &:not(:first-child) {
                margin-bottom: -12px;
            }
        }
        &.highlight {            
            animation: highlight-building-animation 1s;
            z-index: 40;
        }
    }
    #remaining-bramble-tokens {
        position: absolute;
        text-align: center;
        right: 10px;
        top: 50px;
        border-radius: 50px;
        display: flex;

        .title {
            text-shadow: 0 0 2px white;
            writing-mode: vertical-rl;
            margin-left: 8px;
            margin-right: -8px;
            font-family: "garden-nation-title";
        }

        .bramble-container {
            width: 120px; 
            
            &:not(:first-child) {
                margin-top: 10px;
            }          

            .bramble-type-token {
                box-shadow: 1px 1px 3px 2px black;

                &:not(:first-child) {
                    margin-left: -90px;
                }
            }
        }
    }
}

@keyframes highlight-building-animation {
  0% { 
    transform: unset;
  }
  50% { 
    transform: scale(2);
  }
  100% { 
    transform: unset;
  }
}

@keyframes highlight-territory-shadow-animation {
  0% { 
    opacity: 0;
  }
  25% { 
    opacity: 1;
  }
  75% { 
    opacity: 1;
  }
  100% { 
    opacity: 0;
  }
}