.card {
    display: inline-block;
    position: relative;
    width: 149px;
    height: 208px;
    margin: 5px;
    border-radius: 10px;
    font-family: 'garden-nation-title';
    color: #ffeab9;
    text-align: center;

    &[data-side="1"] {
        .card-sides { 
            transform: rotateY(180deg);
        }
    }

    .card-sides {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform-style: preserve-3d;
        transition: transform 0.5s;

        .card-side {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform-style: preserve-3d;      
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            transform-origin: center center;
            border-radius: 5px;
            box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.5);

            &.front {
                &>* {
                    pointer-events: none;
                    user-select: none;
                }
            } 
            
            &.back {
                transform: rotateY(180deg);
            }
        }
    }    

    &.selectable {
        cursor: pointer;
        box-shadow: 0 0 8px 8px white;

        .card-side {
            box-shadow: unset;
        }
    }    

    &.selected {
        box-shadow: 0 0 8px 8px white;

        .card-side {
            box-shadow: unset;
        }
    }

    &.common-project {
        .card-side {
            background-image: url('img/common-projects.jpg');
            background-size: auto 100%;

            .name {
                position: absolute;
                width: 100%;
                top: 138px;
                font-size: 80%;
            }
        }
    }    

    @for $type from 1 through 1 {
        @for $subType from 1 through 6 {
            &.common-project[data-type="#{$type}"][data-sub-type="#{$subType}"] { 
                .front {
                    background-position-x: #{$subType * 100% / 21};
                }
            }
        }
    }
    @for $type from 2 through 6 {
        @for $subType from 1 through 3 {
            &.common-project[data-type="#{$type}"][data-sub-type="#{$subType}"] { 
                .front {
                    background-position-x: #{($type * 3 + $subType) * 100% / 21};
                }
            }
        }
    }

    &.secret-mission {
        .card-side {
            background-image: url('img/secret-missions.jpg');
            background-size: auto 100%;

            .name {
                position: absolute;
                width: 100%;
                top: 138px;
                font-size: 80%;
            }
        }
    }    

    @for $type from 1 through 2 {
        @for $subType from 1 through 3 {
            &.secret-mission[data-type="#{$type}"][data-sub-type="#{$subType}"] { 
                .front {
                    background-position-x: #{(($type - 1) * 3 + $subType) * 100% / 15};
                }
            }
        }
    }
    @for $type from 3 through 3 {
        @for $subType from 1 through 2 {
            &.secret-mission[data-type="#{$type}"][data-sub-type="#{$subType}"] { 
                .front {
                    background-position-x: #{(6 + $subType) * 100% / 15};
                }
            }
        }
    }
    @for $type from 4 through 4 {
        @for $subType from 1 through 7 {
            &.secret-mission[data-type="#{$type}"][data-sub-type="#{$subType}"] { 
                .front {
                    background-position-x: #{(8 + $subType) * 100% / 15};
                }
            }
        }
    }
}