.player-board {
  background-color: #fed698;

  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .counter {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 5px;
    }
  }
}

// spectator mode box
.roundedbox_topleft, .roundedbox_topmain, .roundedbox_topright, .roundedbox_main, .roundedbox_bottomleft, .roundedbox_bottommain, .roundedbox_bottomright {
  background-color: #fed698;
}
