html[data-theme="light"] .player-board {
    --game-bga-player-panel-background: #ffeab9;
}

.player-board {
  .counters {
    display: flex;
    align-items: center;
    margin: 5px 0;

    .counter {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .icon {
      margin-right: 5px;
    }
  }
}
