$playerColors: 'fcaf26', 'ab3b2a', '5f8637', '456e96';

@import 'board/board';
@import 'players-tables/players-tables';
@import 'score';
@import 'help';

@import 'playerboards';

html {
    background: #828a25;
    background-repeat: repeat;
}

.mode_3d #game_play_area_background {
    background: #828a25;
    background-repeat: repeat;
}

@font-face {
  font-family: 'garden-nation-title';
  src: url('img/skrawk-serif-webfont.woff2') format('woff2'),
       url('img/skrawk-serif-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'rustico-regular';
    src: url('img/rustico-regular-webfont.woff2') format('woff2'),
         url('img/rustico-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#last-round {
    margin: 5px -5px -5px;
    text-align: center;
    background-color: #9e1a27;
    color: #fed698;
}

/* make space between buttons on touch devices */
@media (hover: none) {
  #page-title .action-button.bgabutton, #page-title .bgabutton {
    margin-bottom: 8px;
    margin-top: 8px;
  }
}

.whiteblock {
  background: #FFFFFFAA;
}

.icon {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
  background-image: url('img/icons.png');
  background-size: auto 100%;
}

.button-bramble-type, .bramble-type-token {
  position: relative;
  display: inline-block;
  width: $area-size;
  height: $area-size;
  background: url('img/land-tokens.png');
  background-size: auto 100%;
  border-radius: 50%;

  @for $i from 1 through 3 {
      &[data-type="#{$i}"] { 
          background-position: #{$i * 100% / 3};
      }
  }
}

.land-number {
  position: absolute;
  text-align: center;
  color: white;
  left: 41px;
  bottom: 3px;
  width: 18px;
  font-family: 'rustico-regular';
  font-size: 15px;
  font-weight: 100;
}