#playerstables {
  /*display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;*/

    .whiteblock {
        padding: 0;
    }

    .player-table {
      // flex: 1;
        position: relative;
        font-family: 'garden-nation-title';
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 15px;

        .title {
          text-align: center;
          font-size: 120%;
        }

        .player-name {
            position: absolute;
            font-size: 130%;
            padding: 5px;
            width: 265px;
        }

        .player-score-board {
            position: relative;
            width: 626px;
            height: 302px;
            margin: 5px;

            @each $playerColor in $playerColors {
                &[data-color="#{$playerColor}"] { 
                    background: url('img/player-board-#{$playerColor}.png');
                }
            } 

            .ploy-tokens-container {
              position: absolute;
              top: 113px;

              &[data-type="0"] {
                left: 5px;
                top: 50px;
              }
              &[data-type="1"] {
                left: 68px;
              }
              &[data-type="2"] {
                left: 123px;
              }
              &[data-type="3"] {
                left: 14px;
              }

              .ploy-token {
                display: inline-block;
                width: 47px;
                height: 47px;
                background: url('img/ploy-tokens.png');
                box-shadow: 1px 1px 3px 2px black;
                border-radius: 50%;

                @each $playerColor in $playerColors {
                  $i: index($playerColors, $playerColor) - 1;
                  &[data-color="#{$playerColor}"] { 
                    background-position-x: #{$i * 100% / 3};
                  }
                }

                &:not(:first-child) {
                  margin-left: -40px;
                }
              }
            }

            .meeple-marker {
              position: absolute;
              top: 0;
              left: 0;
              width: 34px;
              height: 34px;
              background: url('img/meeples.png');
              transition: transform 0.5s; 
              pointer-events: none;              

              @each $playerColor in $playerColors {
                $i: index($playerColors, $playerColor) - 1;
                &[data-color="#{$playerColor}"] { 
                  background-position-x: #{$i * 100% / 3};
                }
              }
              
              &.color-blind {
                &::after {
                  font-size: 120%;
                  display: flex;
                  align-content: center;
                  justify-content: center;
                  margin-top: -4px;
                }
          
                &[data-player-no="1"]::after {
                  content: '●'; // circle
                }
          
                &[data-player-no="2"]::after {
                  content: '▲'; // triangle
                }
          
                &[data-player-no="3"]::after {
                  content: '■'; // square
                }
          
                &[data-player-no="4"]::after {
                  content: '◆'; // diamond
                }
              }
            }
        }  

        .player-secret-missions-wrapper {
          display: inline-block;
        }
    }
}