#playerstables {

    .whiteblock {
        padding: 0;
    }

    .player-table {
        position: relative;

        .player-name {
            position: absolute;
            font-family: 'garden-nation-title';
            font-size: 130%;
            padding: 5px;
            width: 265px;
        }

        .player-score-board {
            width: 626px;
            height: 302px;

            @each $playerColor in $playerColors {
                &[data-color="#{$playerColor}"] { 
                    background: url('img/player-board-#{$playerColor}.png');
                }
            } 

            .meeple-marker {
              position: absolute;
              top: 0;
              left: 0;
              width: 34px;
              height: 34px;
              background: url('img/meeples.png');
              transition: transform 0.5s; 
              pointer-events: none;              

              @each $playerColor in $playerColors {
                $i: index($playerColors, $playerColor) - 1;
                &[data-color="#{$playerColor}"] { 
                  background-position-x: #{$i * 100% / 3};
                }
              }
              
              &.color-blind {
                &::after {
                  font-size: 120%;
                  display: flex;
                  align-content: center;
                  justify-content: center;
                  margin-top: -4px;
                }
          
                &[data-player-no="1"]::after {
                  content: '●'; // circle
                }
          
                &[data-player-no="2"]::after {
                  content: '▲'; // triangle
                }
          
                &[data-player-no="3"]::after {
                  content: '■'; // square
                }
          
                &[data-player-no="4"]::after {
                  content: '◆'; // diamond
                }
              }
            }
        }  

        .player-secret-missions-wrapper {
          display: inline-block;

          .title {
            text-align: center;
          }
        }
    }
}